@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Courirer Management</h1>
    <p class="lead">
        OCM is a Online Courier Management system which provides provision for customers to send consignment and track the Consignment.
        Administrator can Add/Delete the delivery executive , view consignments and assign consignment to the delivery executive.
        Delivery executive has the provision to view the assigned consignments, update consignment status and update his/her password.
    </p>
</div>

<div class="row jumbotron">
    <div class="col-md-4">
        <h2>Administrator</h2>
        <p>
            Administrator functions are to Add/Delete the Delivery Executives and assign the consignments to the Delivery Executies.
        </p>
    </div>
    <div class="col-md-4">
        <h2>User</h2>
        <p>User can register and book new consignments and track them.</p>
    </div>
    <div class="col-md-4">
        <h2>Delivery Executive</h2>
        <p>Delivery executive has the provision to view the assigned consignments, update consignment status and update his/her password.</p>
    </div>
</div>